

/*created these varibale for dark and light mode*/
:root{
    --clr-dark:black ;
    --clr-light:white;

}




header{
    background-color:var(--clr-light);
    color: var(--clr-dark);
      
        background-image: none;
        padding: 10px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 100px;
        
}
/*Working top from bottem */
#logo{

height: 0px;
width: 0px;
}
/*did this to get rid of the logo */

body.dark-mode
{
    --clr-light:black ;
    --clr-dark:white;
 
}




body{

    background-color:var(--clr-light);
    color: var(--clr-dark);
}
/*On desktop wanted a more professional looking website*/

#bars{

    display: none;
    flex-direction: row;
    justify-content:  space-evenly;
    

}
/*used a flex view so that its easier to navigate 
instead of having that blocky mobile look*/

#bar1{

    text-align: center;
    width:65%;
    margin:auto;
    padding: 10px;
    border:1px solid #000;
    background-color: red;
    color: white;
    padding: 10px;
}

#bar2{
    text-align: center;
    width:65%;
    margin:auto;
    padding: 10px;
    border:1px solid #000;
    background-color: red;
    color: white;
    padding: 10px;
}

#bar3{

    text-align: center;
    width:65%;
    margin:auto;
    padding: 10px;
    border:1px solid #000;
    background-color: red;
    color: white;
    padding: 10px;
}





#box1{


background-image: none;
background-color:var(--clr-light);
color: var(--clr-dark);
}   


.full{

    
    justify-content: center;
}




footer{
display: flex;
flex-direction: row;
border: 10px dotted red;
border-color: red;

}


#info1{


  
    
    background-color: white;
    color: red;
    width:auto;
    border-color: red;
}




#info2{

  
    
    background-color: white;
    color: red;
    width: auto;
    border-color: red;
}




#info3{

    
    background-color: white;
    color: red;
    width:auto;
   
}


.maintext{

    border: 10px solid solid;
    background-color:var(--clr-light);
    color: var(--clr-dark);
 
    font-size: x-large;
}





#box1{

  
    background-color:var(--clr-light);
    color: var(--clr-dark);

}

/*THIS IS TO GET RID OF THE BLOCKY BODERS I HAVE 
IN THE MOBILE VIEW NO POINT IN DESKTOP*/


.teacher{

    display: flex;
    flex-direction: row-reverse;
}




/*this is for Switching between light N Dark*/

#Toggle{
   
    width:65%;
    margin:auto;
    padding: 10px;
    border:1px solid #000;
    background-color: white;
    color: red;
    padding: 10px;
    cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}

#darkmode{
    padding:10px;
    border:1px solid ;
    background-color: white;
    color:black;

}
#lightmode{
    padding:10px;
    border:1px solid ;
    background-color: white;
    color: white;
    

}




.slider
{
    position : relative;
    width : 100%;
    margin: auto;
    overflow: hidden;
    display: flex;


}
.slider img
{
 width: 100%;
 display:none;
}



img.displaySlide{
    display: block;
    width: 100%;
    height: auto;
}



#next
{
border-color:black;
background-color: purple;
}
#back
{
    border-color:black;
    background-color: purple
}


table
{
   table-layout: fixed;
   width: 100%;
}

td
{
    word-wrap: break-word;
}